<footer>
    <div class="ods-front-footer">
        <img alt="logo" th:src="@{/Images/logoS.png}" class="footer-logo"/>

        <div class="footer-items"> 
            <a class="ods-front-footer__legal ods-front-footer__link" href="#">Conditions d'utilisation</a>
            <a class="ods-front-footer__legal ods-front-footer__link" href="#">Politique de confidentialité</a>
            <a class="c-bp" href="#">Contact</a>
        </div>
    </div>

    <p>&copy; 2024 Métropole - Portail Open Data</p>
</footer>